html, body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Source Sans Pro", Calibri, sans-serif;
    font-size: 16px;
    background-color: #EEEEEE; }

html h2, body  h2 {
    font-size: 1.3em; }

html h3, body h3 {
    font-size: 1.1em; }

html a, body a {
    text-decoration: none;
    color: #333333;
    font-weight: 700; }

html a:hover, body a:hover {
    text-decoration: underline; }

html hr, body hr {
    border: 0;
    height: 1px;
    background-color: #333;
    background-image: linear-gradient(to right, #333333, #ccc); }

html .clearfix, body .clearfix {
    clear: both; }

div.column {
  position: relative;
  float: left;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  width: 100%; }

@media screen and (max-width: 1000px) {
  div.column {
    width: 100% !important;
    overflow: hidden;
    height: auto; } }


div.marcador {
    width: 40vmin;
    margin-left: 30vmin;
}

div.marcador #jugador1 {
    height: 30px;
    width: 20vmin;
    border-radius: 0.3rem;
    border: 0.4rem solid #6b2912;
    background: #7f3a21;
    margin-bottom: 3vmin;
    padding: 5px 0 0 12px;
    color: #ddd;
 }


div.marcador #jugador2 {
    height: 30px;
    width: 20vmin;
    border-radius: 0.3rem;
    background-color: #f5e1b3;
    border: 0.4rem solid #e6ca87;
    margin-bottom: 3vmin;
    padding: 5px 0 0 12px;
 }


div.marcador div.turno1, div.turno2 {
    position: relative;
    width: 20px;
    height: 20px;
    background: #bbc14b;  
    float: right; 
    margin-right: 1vmin; 
    margin-top: 5px;
    border-radius: 10px; 
    display: none;
}

div.marcador div.turn {
    background: linear-gradient(to right, #BEEE62 50%, transparent 50%);
 }

span.marca1, span.marca2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 6px;
}

button.button7 {
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Source Sans Pro',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
    border: 1px solid #3369ff;
}
button.button7:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
@media all and (max-width:30em){
    button.button7{
        display:block;
        margin:0.4em auto;
    }
}

div#side-left {
    width: 10vmin;
}
div#side-right {
    width: 10vmin;
}

div#tablero {
    position: absolute;
    top: calc(50% - 40vmin);
    left: calc(50% - 40vmin);
    width: 80vmin;
    height: 80vmin;
    background-color: #F0D9B5;
    overflow: hidden; 
    margin: 0 auto; }

div#tablero .casilla {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    background-color: #B58863; }

div#tablero .casilla.verde {
    background-color: #bbc14b;
}

div#tablero .piezasJug1 .pieza,.inactiva {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background-color: #7f3a21;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    border: 1vmin solid #6b2912; }

div#tablero .piezasJug1 .pieza.selected {
    box-shadow: 0 0 0 0 #bbc14b;
    /*box-shadow: 0 0 10px 5px #9dd1dc;*/ }

div#tablero .piezasJug2 .pieza,.inactiva {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background-color: #f5e1b3;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    border: 1vmin solid #e6ca87; }

div#tablero .piezasJug2 .pieza.selected {
    box-shadow: 0 0 0 0 #bbc14b; }

.copyright {
    font-size: 90%;
    color: #777;
    margin: 0 0 0 10px;
}